In [1]:
import pandas as pd
import plotly.figure_factory as ff

In [2]:
# Specify the file path
file_path = "../data/dmc2001_class.txt"
file_path_learn = "../data/dmc2001_learn.txt"
# Read the text file using pandas
df_classes = pd.read_csv(file_path, delimiter=";")
df_learn = pd.read_csv(file_path_learn, delimiter=";")

In [3]:
corr_matrix = df_learn.corr()

ValueError: could not convert string to float: 'W'

In [ ]:
df_learn.head()

,ID,jahrstart,AKTIV,WO,Regiotyp,Kaufkraft,Bebautyp,Strtyp,Bonitaet,Famgr,...,Typ7,Typ8,Typ9,Abogr,PHARM1,PHARM2,PHARM3,PHARM4,PHARM5,PHARM6
0,388520,1997,1,W,11.0,4.0,3.0,3.0,9.0,3.0,...,6.0,7.0,7.0,3.0,6.0,5.0,3.0,2.0,5.0,1.0
1,326870,1996,1,W,12.0,6.0,1.0,3.0,8.0,3.0,...,7.0,3.0,7.0,2.0,5.0,6.0,5.0,2.0,4.0,4.0
2,371166,1997,1,O,11.0,-1.0,3.0,1.0,8.0,2.0,...,2.0,2.0,5.0,NaN,1.0,3.0,1.0,4.0,7.0,6.0
3,28306,1992,0,W,11.0,8.0,5.0,1.0,5.0,2.0,...,3.0,2.0,7.0,2.0,5.0,6.0,2.0,3.0,6.0,2.0
4,241585,1994,0,W,13.0,2.0,1.0,4.0,5.0,5.0,...,3.0,1.0,1.0,3.0,1.0,6.0,2.0,6.0,1.0,3.0

In [ ]:
df_classes.head()

,ID,jahrstart,WO,Regiotyp,Kaufkraft,Bebautyp,Strtyp,Bonitaet,Famgr,Altersgr,...,Typ7,Typ8,Typ9,Abogr,PHARM1,PHARM2,PHARM3,PHARM4,PHARM5,PHARM6
0,25040,1992,W,16.0,4.0,1.0,1.0,4.0,7.0,5.0,...,1.0,4.0,4.0,4.0,2.0,7.0,6.0,3.0,6.0,4.0
1,331329,1996,W,12.0,5.0,2.0,1.0,6.0,4.0,3.0,...,7.0,7.0,7.0,5.0,1.0,4.0,6.0,4.0,7.0,4.0
2,327595,1996,W,12.0,4.0,1.0,1.0,1.0,6.0,4.0,...,7.0,7.0,7.0,8.0,4.0,5.0,4.0,6.0,2.0,1.0
3,215290,1994,O,15.0,-2.0,1.0,1.0,3.0,2.0,5.0,...,3.0,3.0,1.0,NaN,4.0,1.0,3.0,2.0,2.0,7.0
4,299192,1995,W,12.0,4.0,1.0,1.0,1.0,9.0,6.0,...,3.0,3.0,7.0,4.0,6.0,3.0,3.0,5.0,1.0,4.0

In [ ]:
print(f"Number of rows: {df_learn.shape[0]}")
df_learn_without_nan = df_learn.dropna()
print(f"Number of rows without NaN: {df_learn_without_nan.shape[0]}")

Number of rows: 10000
Number of rows without NaN: 7750

In [ ]:
df_learn.isnull().sum()

ID              0
jahrstart       0
AKTIV           0
WO              0
Regiotyp      537
Kaufkraft     537
Bebautyp      537
Strtyp        537
Bonitaet      537
Famgr         537
Altersgr      537
AntDt         537
AnzHH         537
AnzGew        537
PKW_Di        541
PKW_Lei       541
PKW_KB        788
PKW_GW        541
PKW_Gel       541
Typ1          793
Typ2          793
Typ3          783
Typ4          786
Typ5          792
Typ6          783
Typ7          792
Typ8          793
Typ9          786
Abogr        2227
PHARM1        750
PHARM2        752
PHARM3        752
PHARM4        752
PHARM5        752
PHARM6        750
dtype: int64

In [ ]:
df_learn_without_nan.isnull().sum()

ID           0
jahrstart    0
AKTIV        0
WO           0
Regiotyp     0
Kaufkraft    0
Bebautyp     0
Strtyp       0
Bonitaet     0
Famgr        0
Altersgr     0
AntDt        0
AnzHH        0
AnzGew       0
PKW_Di       0
PKW_Lei      0
PKW_KB       0
PKW_GW       0
PKW_Gel      0
Typ1         0
Typ2         0
Typ3         0
Typ4         0
Typ5         0
Typ6         0
Typ7         0
Typ8         0
Typ9         0
Abogr        0
PHARM1       0
PHARM2       0
PHARM3       0
PHARM4       0
PHARM5       0
PHARM6       0
dtype: int64

In [ ]:
df_learn_without_nan.isnull().any().any()

False

In [ ]:
df_learn.keys()

Index(['ID', 'jahrstart', 'AKTIV', 'WO', 'Regiotyp', 'Kaufkraft', 'Bebautyp',
       'Strtyp', 'Bonitaet', 'Famgr', 'Altersgr', 'AntDt', 'AnzHH', 'AnzGew',
       'PKW_Di', 'PKW_Lei', 'PKW_KB', 'PKW_GW', 'PKW_Gel', 'Typ1', 'Typ2',
       'Typ3', 'Typ4', 'Typ5', 'Typ6', 'Typ7', 'Typ8', 'Typ9', 'Abogr',
       'PHARM1', 'PHARM2', 'PHARM3', 'PHARM4', 'PHARM5', 'PHARM6'],
      dtype='object')

In [ ]:
df_learn.loc[18000]

KeyError: 18000

In [ ]:
df_learn.describe()

,ID,jahrstart,AKTIV,Regiotyp,Kaufkraft,Bebautyp,Strtyp,Bonitaet,Famgr,Altersgr,...,Typ7,Typ8,Typ9,Abogr,PHARM1,PHARM2,PHARM3,PHARM4,PHARM5,PHARM6
count,10000.000000,10000.000000,10000.000000,9463.000000,9463.000000,9463.000000,9463.000000,9463.000000,9463.000000,9463.000000,...,9208.000000,9207.000000,9214.000000,7773.000000,9250.000000,9248.000000,9248.000000,9248.000000,9248.000000,9250.000000
mean,279867.611500,1994.285300,0.499600,13.591884,2.942619,1.735179,1.619571,4.979710,5.415830,4.247596,...,3.860556,3.751168,3.935316,4.523350,3.742703,4.093642,4.256055,4.270869,3.858023,3.690486
std,113873.964221,6.701208,0.500025,1.829439,4.557088,1.019590,0.999813,2.619055,2.493253,0.975871,...,2.087188,2.035822,1.986863,2.395071,2.023690,2.012852,1.993980,1.998336,1.963619,1.912364
min,2383.000000,1900.000000,0.000000,11.000000,-9.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,249086.500000,1994.000000,0.000000,12.000000,1.000000,1.000000,1.000000,3.000000,3.000000,4.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,2.000000,2.000000
50%,322993.000000,1996.000000,0.000000,14.000000,4.000000,1.000000,1.000000,5.000000,6.000000,4.000000,...,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
75%,362836.000000,1996.000000,1.000000,15.000000,6.000000,2.000000,2.000000,7.000000,8.000000,5.000000,...,6.000000,5.000000,6.000000,7.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000
max,460448.000000,1997.000000,1.000000,16.000000,9.000000,5.000000,5.000000,9.000000,9.000000,8.000000,...,7.000000,7.000000,7.000000,8.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000

In [ ]:
df_learn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 35 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         10000 non-null  int64
 1   jahrstart  10000 non-null  int64
 2   AKTIV      10000 non-null  int64
 3   WO         10000 non-null  object
 4   Regiotyp   9463 non-null   float64
 5   Kaufkraft  9463 non-null   float64
 6   Bebautyp   9463 non-null   float64
 7   Strtyp     9463 non-null   float64
 8   Bonitaet   9463 non-null   float64
 9   Famgr      9463 non-null   float64
 10  Altersgr   9463 non-null   float64
 11  AntDt      9463 non-null   float64
 12  AnzHH      9463 non-null   float64
 13  AnzGew     9463 non-null   float64
 14  PKW_Di     9459 non-null   float64
 15  PKW_Lei    9459 non-null   float64
 16  PKW_KB     9212 non-null   float64
 17  PKW_GW     9459 non-null   float64
 18  PKW_Gel    9459 non-null   float64
 19  Typ1       9207 non-null   float64
 20  Typ2       9207 non-null   float64
 21  Typ3       9217 non-null   float64
 22  Typ4       9214 non-null   float64
 23  Typ5       9208 non-null   float64
 24  Typ6       9217 non-null   float64
 25  Typ7       9208 non-null   float64
 26  Typ8       9207 non-null   float64
 27  Typ9       9214 non-null   float64
 28  Abogr      7773 non-null   float64
 29  PHARM1     9250 non-null   float64
 30  PHARM2     9248 non-null   float64
 31  PHARM3     9248 non-null   float64
 32  PHARM4     9248 non-null   float64
 33  PHARM5     9248 non-null   float64
 34  PHARM6     9250 non-null   float64
dtypes: float64(31), int64(3), object(1)
memory usage: 2.7+ MB

In [ ]:
df_classes.head()

,ID,jahrstart,WO,Regiotyp,Kaufkraft,Bebautyp,Strtyp,Bonitaet,Famgr,Altersgr,...,Typ7,Typ8,Typ9,Abogr,PHARM1,PHARM2,PHARM3,PHARM4,PHARM5,PHARM6
0,25040,1992,W,16.0,4.0,1.0,1.0,4.0,7.0,5.0,...,1.0,4.0,4.0,4.0,2.0,7.0,6.0,3.0,6.0,4.0
1,331329,1996,W,12.0,5.0,2.0,1.0,6.0,4.0,3.0,...,7.0,7.0,7.0,5.0,1.0,4.0,6.0,4.0,7.0,4.0
2,327595,1996,W,12.0,4.0,1.0,1.0,1.0,6.0,4.0,...,7.0,7.0,7.0,8.0,4.0,5.0,4.0,6.0,2.0,1.0
3,215290,1994,O,15.0,-2.0,1.0,1.0,3.0,2.0,5.0,...,3.0,3.0,1.0,NaN,4.0,1.0,3.0,2.0,2.0,7.0
4,299192,1995,W,12.0,4.0,1.0,1.0,1.0,9.0,6.0,...,3.0,3.0,7.0,4.0,6.0,3.0,3.0,5.0,1.0,4.0

In [ ]:
df_classes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18128 entries, 0 to 18127
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         18128 non-null  int64
 1   jahrstart  18128 non-null  int64
 2   WO         18128 non-null  object
 3   Regiotyp   17172 non-null  float64
 4   Kaufkraft  17172 non-null  float64
 5   Bebautyp   17172 non-null  float64
 6   Strtyp     17172 non-null  float64
 7   Bonitaet   17172 non-null  float64
 8   Famgr      17172 non-null  float64
 9   Altersgr   17172 non-null  float64
 10  AntDt      17172 non-null  float64
 11  AnzHH      17172 non-null  float64
 12  AnzGew     17172 non-null  float64
 13  PKW_Di     17167 non-null  float64
 14  PKW_Lei    17167 non-null  float64
 15  PKW_KB     16659 non-null  float64
 16  PKW_GW     17167 non-null  float64
 17  PKW_Gel    17167 non-null  float64
 18  Typ1       16697 non-null  float64
 19  Typ2       16697 non-null  float64
 20  Typ3       16716 non-null  float64
 21  Typ4       16712 non-null  float64
 22  Typ5       16700 non-null  float64
 23  Typ6       16716 non-null  float64
 24  Typ7       16699 non-null  float64
 25  Typ8       16697 non-null  float64
 26  Typ9       16713 non-null  float64
 27  Abogr      14069 non-null  float64
 28  PHARM1     16752 non-null  float64
 29  PHARM2     16751 non-null  float64
 30  PHARM3     16751 non-null  float64
 31  PHARM4     16751 non-null  float64
 32  PHARM5     16751 non-null  float64
 33  PHARM6     16752 non-null  float64
dtypes: float64(31), int64(2), object(1)
memory usage: 4.7+ MB

In [ ]:
df.describe()

,ID,jahrstart,Regiotyp,Kaufkraft,Bebautyp,Strtyp,Bonitaet,Famgr,Altersgr,AntDt,...,Typ7,Typ8,Typ9,Abogr,PHARM1,PHARM2,PHARM3,PHARM4,PHARM5,PHARM6
count,18128.000000,18128.000000,17172.000000,17172.000000,17172.000000,17172.000000,17172.000000,17172.000000,17172.000000,17172.000000,...,16699.000000,16697.000000,16713.000000,14069.000000,16752.000000,16751.000000,16751.00000,16751.000000,16751.000000,16752.000000
mean,278010.163504,1994.330318,13.623981,2.913697,1.754018,1.617808,5.035523,5.395062,4.217389,5.160843,...,3.849632,3.729951,3.918028,4.534153,3.758536,4.141365,4.27670,4.258194,3.881022,3.660220
std,115407.251326,6.256591,1.829126,4.544374,1.024110,1.001155,2.618529,2.503715,0.968477,2.554533,...,2.079643,2.027266,2.003134,2.400580,2.032632,2.027943,1.99699,2.002212,1.973222,1.933155
min,1816.000000,1900.000000,11.000000,-9.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000
25%,245682.000000,1994.000000,12.000000,1.000000,1.000000,1.000000,3.000000,3.000000,4.000000,3.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.00000,3.000000,2.000000,2.000000
50%,322273.500000,1996.000000,14.000000,4.000000,1.000000,1.000000,5.000000,6.000000,4.000000,5.000000,...,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.00000,4.000000,4.000000,3.000000
75%,362690.500000,1996.000000,15.000000,6.000000,2.000000,2.000000,7.000000,8.000000,5.000000,7.000000,...,6.000000,5.000000,6.000000,7.000000,6.000000,6.000000,6.00000,6.000000,6.000000,5.000000
max,523423.000000,1999.000000,16.000000,9.000000,5.000000,5.000000,9.000000,9.000000,8.000000,9.000000,...,7.000000,7.000000,7.000000,8.000000,7.000000,7.000000,7.00000,7.000000,7.000000,7.000000